.container_height{
    height: 10em;
}

.code-part{
    background-color: #F0F0F0;
    /* font-size: 2rem; */
    font-weight: 700;
    /* height: 300px; */
    
}
.r{
    color:blue;
    font-weight: 600;
    font-size: 0.9rem;
}
.output{
    /* position:absolute; */
    /* right:6.5rem; */
    /* height: 600px; */
    /* border: 1px solid; */
}
.result{
    /* height: 300px; */
    /* border-bottom: 1px solid; */
}
img{
    height: 220px;
}
.model1 img{
    height: 300px;
}
.model2 img{
    height: 300px;
}
.prepare{
    height:720px;
}
code{
    color: black;
}

/* Prepare */
#popvssamp{
    display:block;
    margin:auto;
}
body{
    padding-top: 70px;
}
.output{
    border: 1px solid;
}
.result{
    border: 1px solid;
}
.img-output{
    border: 1px solid;
}
